@font-face {
  font-family: "Familjen Grotesk";
  src: url("../../../public/fonts/Familjen_Grotesk/FamiljenGrotesk-Regular.ttf");
}
.Main {
  padding: 0 40px;
  margin: 0;
}
.weather {
  padding: 0;
  margin: 0 0 40px 0;
  position: relative;
  height: 80px;
  max-width: 100%;
  border-radius: 12px;
}
.weather__bg {
  padding: 0;
  margin: 0;
  max-width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.weather__temperature {
  padding: 0;
  margin: 0 0 0 16px;
  font-family: "Familjen Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  position: absolute;
  top: 25%;
  z-index: 1;
}
.items {
  padding: 0;
  margin: 0;
}
.weather__suggest {
  font-family: "Familjen Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 40px 0 0 0;
  padding: 40px 0 0 0;
}
