@font-face {
  font-family: "Familjen Grotesk";
  src: url("../../../public/fonts/Familjen_Grotesk/FamiljenGrotesk-Regular.ttf");
}
.sidebar {
  width: 229px;
  padding: 0 0 0 40px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sidebar__info {
  width: 229px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.sidebar__user-avatar {
  width: 56px;
  height: 56px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  object-fit: cover;
}
.sidebar__user-title {
  color: #000;
  font-size: 20px;
  font-family: "Familjen Grotesk";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 0;
}
.sidebar__edit-info {
  margin-top: 16px;
  cursor: pointer;
  color: #000;
  font-family: "Familjen Grotesk";
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 200ms;
}
.sidebar__edit-info:hover {
  color: grey;
}
.sidebar__logout {
  cursor: pointer;
  color: #000;
  font-family: "Familjen Grotesk";
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 200ms;
}
.sidebar__logout:hover {
  color: grey;
}
