@font-face {
  font-family: "Familjen Grotesk";
  src: url("../../../public/fonts/Familjen_Grotesk/FamiljenGrotesk-Regular.ttf");
}
.footer {
  display: flex;
  justify-content: space-between;
  margin: 85px 0 0 0;
  padding: 0 40px;
}
.footer__dev {
  font-family: "Familjen Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.footer__year {
  font-family: "Familjen Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
